/* место для вашего кода */

.header {
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  padding: 92px 24px 96px 24px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  justify-content: space-around;
  grid-template-areas:
      "header__menu header__menu header__logo address address";
}

.header__menu {
  letter-spacing: 0.02em;
  grid-area: header__menu;
  justify-self: center;
  margin-top: 2px;
  margin-left: 22px;

}

.header__links-list {
  justify-content: end;
  display: flex;
  flex-direction: row;
  gap: 29px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.header__logo {
  grid-area: header__logo;
  display: block;
  width: 148px;
  height: 105px;
  justify-self: center;
  align-self: center;

}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  font-style: normal;
  font-weight: 400;
  justify-self: end;
  margin-right:30px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  grid-area: address;
}

.phone__number {
  margin-right: auto;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.mail {
  text-decoration: none;
  border-bottom: 1px solid black;
  margin-right: auto;
}

.address_street {
  width: 237px;
}

.cover {
  width: 1100px;
  height: 757px;
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center center;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 60%;
  position: absolute;
  z-index: 2;
}

.cover__title {
  box-sizing: border-box;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  width: 1000px;
  height: 355px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  inset: 165px 50px 237px 50px;
}

.aligned-text {
  display: flex;
  flex-direction: row;
  letter-spacing: 0.3em;
  margin-bottom: 12.5px;
}

.aligned-text_center {
  display: flex;
  margin-left: -29px;
  align-self: center;
  letter-spacing: 0.3em;
  margin-bottom: 5px;
}

.aligned-text_right {
  display: flex;
  align-self: end;
  margin-right: -27px;
  letter-spacing: 0.29em;
}

.no-letter-spacing {
  margin-right:3px;
}

.letter-spacing-extended {
  font-size: 100px;
  margin-left: 28px;
}

.cover__description {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  inset: 667px 50px 62px 78px;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  word-spacing: 18.5px;
  font-weight: 400;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  font-weight: 500;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background: none;
}

.lots {
  margin-top: 179px;
  margin-left: auto;
  margin-right: auto;
  width: 1052px;
  height: 692px;
}

.lots__heading {
  display: flex;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
  color: black;
  font-weight: 700;
  font-size: 40px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 563px;
  gap: 25px;
}

.lots__card-list-item {
  display: flex;
  flex-basis: 100%;
}

.card__link {
  display: flex;
  flex-shrink: 1;
}

.card {
  height: 100%;
  display: flex;
  position: relative;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center center;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center center;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center center;
}

.card__header {
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 254px;
  margin-top: 51px;
}

.card__title {
  z-index: 2;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  border-bottom: 1px white solid;
  margin-right: auto;
  line-height: 26.4px;
}

.card__text {
  z-index: 2;
  margin: auto 40px 48px 40px;
  color: white;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  position: absolute;
  margin: 30px 0px 0px 40px;
  font-size: 20px;
  border-bottom: 1px black solid;
}

.about {
  width: 1052px;
  height: 595px;
  display: grid;
  margin: 146px 24px 0px 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 25px;
  grid-template-areas:
    "about__logo about__title about__title"
    "about__logo about__title about__title"
    "about__logo about__column about__column"
    "about__logo about__column about__column";
}

.about__column {
  grid-area: about__column;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__logo {
  margin-top: 35px;
  position: relative;
  grid-area: about__logo;
  align-self: start;
  justify-self: center;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 300px;

}

.about__logo-image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 148px;
  height: 114px;

}

.about__title {
  grid-area: about__title;
  align-self: center;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text1 {
  grid-area: about__text;
  align-self: flex-end;
  justify-self: flex-end;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.about__text {
  align-self: flex-end;
  justify-self: flex-end;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px 50px;
}


.footer__menu-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__menu-list-item {
  list-style: none;

}


.footer__menu-link {
  border-bottom: 1px black solid;
}


.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}


.footer__social-icon {
  width: 48px;
  height: 48px;
}
